/001_basic_section_2/node_modules
/001_basic_section_2/public_html/hot
/001_basic_section_2/public_html/storage
/001_basic_section_2/storage/*.key
/001_basic_section_2/vendor
/001_basic_section_2/.env
/001_basic_section_2/.env.backup
/001_basic_section_2/.phpunit.result.cache
/001_basic_section_2/docker-compose.override.yml
/001_basic_section_2/Homestead.json
/001_basic_section_2/Homestead.yaml
/001_basic_section_2/npm-debug.log
/001_basic_section_2/yarn-error.log

/ec-pro/node_modules
/ec-pro/public_html/hot
/ec-pro/public_html/storage
/ec-pro/storage/*.key
/ec-pro/vendor
/ec-pro/.env
/ec-pro/.env.backup
/ec-pro/.phpunit.result.cache
/ec-pro/docker-compose.override.yml
/ec-pro/Homestead.json
/ec-pro/Homestead.yaml
/ec-pro/npm-debug.log
/ec-pro/yarn-error.log

/course
