/ec-udemy-laravel/node_modules
/001_basic_section_2/public_html/hot
/001_basic_section_2/public_html/storage
/001_basic_section_2/ec-udemy-laravel/storage/*.key
/001_basic_section_2/ec-udemy-laravel/vendor
/001_basic_section_2/ec-udemy-laravel/.env
/001_basic_section_2/ec-udemy-laravel/.env.backup
/001_basic_section_2/ec-udemy-laravel/.phpunit.result.cache
/001_basic_section_2/ec-udemy-laravel/docker-compose.override.yml
/001_basic_section_2/ec-udemy-laravel/Homestead.json
/001_basic_section_2/ec-udemy-laravel/Homestead.yaml
/001_basic_section_2/ec-udemy-laravel/npm-debug.log
/001_basic_section_2/ec-udemy-laravel/yarn-error.log
/course
